{% extends 'base2.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
	{{ parent() }} 
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title_tab %}
	<!-- Breadcrumbs -->
	<ol class="breadcrumb">
	  <!-- <li class="breadcrumb-item"> -->
		<!-- <a href="#">Dashboard</a> -->
	  <!-- </li> -->
	  <li class="breadcrumb-item active">My Dashboard</li>
	</ol>
{% endblock %}
 
{% block body %}
	<center>	<h3 style="color:blue"> Actualités </h3> </center>
{% endblock %}